


/*make the body background color red*/
body{
    background-color: red;
    
}

.container{
    /*this*/
    border: 2px solid red;
    padding: 10px;
}

.header{
    border: 2px solid forestgreen;
    max-width: 700px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.home{
    border: 2px solid rosybrown;
    max-width: 150px;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-top: -75px;
    
}

.logSign{
    border: 2px solid coral;
    margin-bottom: 10px;
    max-width: 250px;
    margin-left: 500px;
    margin-top: -150px;
    margin-right: 40px;
}

.pageTitle{
    border: 2px solid darkkhaki;
    margin-bottom: 10px;
}

.sideBar{
    border: 2px solid lightskyblue;
    margin-bottom: 10px;
}

.sideList{
    border: 2px solid palegreen;
    margin-bottom: 10px;
}

.sideListItem {
    border: 2px solid mediumvioletred;
    margin-bottom: 10px;
}

.factsInfo{
    border: 2px solid mediumspringgreen;
    margin-bottom: 10px;
}

.factsList{
    border: 2px solid chartreuse;
    margin-bottom: 10px;
}

.factsListItem{
    border: 2px solid springgreen;
    margin-bottom: 10px;
}

.footer{
    border: 2px solid orchid;
    margin-bottom: 10px;
}